<mat-card class="example-card">
<form class="example-form">

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Company Name" type="text" [(ngModel)]="companydetails.name" name="name">
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Address" [(ngModel)]="companydetails.address" name="address"></textarea>
    </mat-form-field>
      </p>
 
      <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Mobile No" type="text" [(ngModel)]="companydetails.phoneNo" name="mobileNo">
    </mat-form-field>
    </td>
    <td>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" type="text" [(ngModel)]="companydetails.email" name="email">
    </mat-form-field>
    </td>
    <td>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="GST No" type="text" [(ngModel)]="companydetails.gstNo" name="gstNo">
    </mat-form-field>
    </td>
</tr>
<tr>
<td><mat-form-field class="example-full-width">
      <input matInput placeholder="Same Day Rate" type="number" [(ngModel)]="companydetails.sameDay" name="sameday">
    </mat-form-field>
    </td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Next Day Rate" type="number" [(ngModel)]="companydetails.nextDay" name="nextday">
    </mat-form-field>
    </td>
</tr>
</table>
<p>
<mat-form-field class="example-full-width">
      <textarea matInput placeholder="Terms And Conditions" [(ngModel)]="companydetails.termsAndCondition" name="termsAndCondition"></textarea>
    </mat-form-field>
    </p>
    <p>
<mat-form-field class="example-full-width">
      <input matInput placeholder="Thanking Note" type="text" [(ngModel)]="companydetails.thankingNote" name="thankingNote">
    </mat-form-field>
    </p>
    <p>
<mat-form-field class="example-full-width">
      <input matInput placeholder="Website" type="text" [(ngModel)]="companydetails.website" name="website">
    </mat-form-field>
    </p>
</form>
<button mat-button (click)="submitCompany()">Submit</button>
</mat-card>


