.example-form{
	width:100%;
}
.left{
	float: left;
}
.add-card{
  margin-top: 20px;
}
.example-container {
  display: flex;
  flex-direction: column;
}
.add-but{
	padding: 0;
    margin: 0;
    margin-bottom: 21px;
}
.mat-form-field{
	padding: 0px !important;
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}
.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
.mat-form-field {
  font-size: 14px;
}
.status{
	background-color: #0001d4;
	color: white;
}
td{
	padding:0;
}