.left{
	float: left;
}
.add-order{
  margin: 20px;
}
.example-card {
  margin: 20px;
}
.bill-card {
  width: 45%;
  margin: 20px;
  float: right;
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}
.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.status{
	background-color: #0001d4;
	color: white;
}
.summary{
	float: right;
	width: 30%;
	font-size: 14px;
}