<mat-toolbar class="docs-navbar-header mat-elevation-z6" color="primary">
  <button mat-button routerLink="/" class="docs-button"><span>{{title}}</span></button>
  <button mat-button [matMenuTriggerFor]="order" class="docs-navbar-hide-small docs-button">Orders
</button>
<button mat-button [matMenuTriggerFor]="clients" class="docs-navbar-hide-small docs-button">Clients
</button>
<button mat-button [matMenuTriggerFor]="clothes" class="docs-navbar-hide-small docs-button">Clothes
</button>
<button mat-button [matMenuTriggerFor]="company" class="docs-navbar-hide-small docs-button">Company
</button>
<div class="flex-spacer"></div>
<button mat-button routerLink="/login" *ngIf="!user" class="docs-button">Login
</button>
<button mat-button routerLink="/login" *ngIf="user" class="docs-button">Logout
</button>
<mat-menu #order="matMenu">
  <button mat-menu-item routerLink="/addOrder"> Add Order </button>
  <button mat-menu-item routerLink="/orders"> All Orders </button>
  <button mat-menu-item routerLink="/pendingOrders"> Pending Orders </button>
  <button mat-menu-item routerLink="/pendingDelivery"> Pending Delivery </button>
  
</mat-menu>
<mat-menu #clients="matMenu">
  <button mat-menu-item routerLink="/addClient"> Add Client </button>
  <button mat-menu-item routerLink="/clients"> All Clients </button>
</mat-menu>
<mat-menu #company="matMenu">
  <button mat-menu-item routerLink="/settings"> Settings </button>
  <button mat-menu-item routerLink="/addUser"> Add User </button>
  <button mat-menu-item routerLink="/manageUser"> Manage User </button>
</mat-menu>
<mat-menu #clothes="matMenu">
  <button mat-menu-item routerLink="/addCloth"> Add Cloth </button>
  <button mat-menu-item routerLink="/clothes"> All Clothes </button>
</mat-menu>
</mat-toolbar>
<mat-toolbar class="docs-navbar docs-navbar-show-small  mat-elevation-z6" color="primary">
  <button mat-button [matMenuTriggerFor]="order" class="docs-navbar-link">Orders
</button>
<button mat-button [matMenuTriggerFor]="clients" class="docs-navbar-link">Clients
</button>
<button mat-button [matMenuTriggerFor]="clothes" class="docs-navbar-link">Clothes
</button>
<button mat-button [matMenuTriggerFor]="company" class="docs-navbar-link">Company
</button>
</mat-toolbar>
<router-outlet></router-outlet>