
<mat-toolbar color="primary">
  <button mat-button routerLink="/"><span>{{title}}</span></button>
  <button mat-button [matMenuTriggerFor]="order">Orders
</button>
<button mat-button [matMenuTriggerFor]="clients">Clients
</button>
<mat-menu #order="matMenu">
  <button mat-menu-item routerLink="/addOrder"> Add Order </button>
  <button mat-menu-item routerLink="/orders"> All Order </button>
</mat-menu>
<mat-menu #clients="matMenu">
  <button mat-menu-item routerLink="/addClients"> Add Client </button>
  <button mat-menu-item routerLink="/clients"> All Clients </button>
</mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>