.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-chip{
  margin: 5px !important;
}
.status{
  background-color: #0001d4;
  color: white;
}
.mat-column-id {
  max-width: 96px;
}
.mat-column-totalQuantity {
  max-width: 96px;
}

.mat-column-processedQuantity {
  max-width: 96px;
}
