<div class="col-md-8 col-12">
<mat-card class="example-card" id = "bill" *ngIf="order && client">
  <mat-card-header>
    <mat-card-title>{{order.clientName}}</mat-card-title>
    <mat-card-subtitle>
	<table>
		<tr>
			<td>{{client.contactNo}}</td>
		</tr>
		<tr>
			<td>Bill No.: {{order.id}}</td>
		</tr>
		<tr>
			<td>Date: {{order.submissionDate}}</td>
		</tr>
	</table>
	</mat-card-subtitle>
    <mat-chip-list>
    <mat-chip [class.status]="order.deliveryStatus === 0" color="warm" selected="true" (click)="changeStatus(0)">Processing</mat-chip>
    <mat-chip [class.status]="order.deliveryStatus === 1" color="warm" selected="true" (click)="changeStatus(1)">Delivery</mat-chip>
    <mat-chip [class.status]="order.deliveryStatus === 2" color="warm" selected="true" (click)="changeStatus(2)">Completed</mat-chip>
    <mat-chip [class.status]="order.paid==1" color="warm" selected="true" (click)="changePaid()">Paid</mat-chip>
    <mat-chip [class.status]="true" color="warm" selected="true" (click)="print()">Print Tag</mat-chip>
    <mat-chip [class.status]="true" color="warm" selected="true" (click)="printData()">Receipt</mat-chip>
    </mat-chip-list>
    
  </mat-card-header>
  <mat-card-content>
    Expected Delivery: {{order.expectedDeliveryDate}}
    <br>
    Address: {{client.address}}
    <div class="example-container mat-elevation-z8 col-1-2">
<mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="clothName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cloth </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.clothName}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef  mat-sort-header> Amount </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.amount|number:'1.2-2'}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.quantity}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="orderType">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ordertype </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{types[order.orderType].viewValue}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  </div>
  </mat-card-content>
  <table class="table">
		<tr><td class="col-md-9 col-xs-9 col-9" align="right">Amount:</td><td> {{order.amount|number:'1.2-2'}}</td></tr>
		<tr *ngIf="order.coupon"><td align="right" >Discount:</td><td> {{discount()|number:'1.2-2'}}</td></tr>
		<tr *ngIf="order.coupon"><td align="right">Final Amount:</td><td> {{order.amount|number:'1.2-2'}}</td></tr>
		<tr><td align="right">CGST @ 9%:</td><td> {{order.tax/2|number:'1.2-2'}}</td></tr>
		<tr><td align="right">SGST @ 9%:</td><td> {{order.tax/2|number:'1.2-2'}}</td></tr>
		<tr><td align="right">Total:</td><td> {{order.total|number:'1.2-2'}}</td></tr>
		<tr><td><button *ngIf="order.deliveryStatus === 1" class="Navigation" style="float: left;" mat-button (click)="navigation()">Navigation</button>
        <button *ngIf="order.deliveryStatus === 0" style="float: left;" mat-button (click)="cancelOrder()">Cancel Order</button></td><td></td></tr>
	</table>
</mat-card>
</div>
