@media screen and (max-width: 768px) {

    .example-card { width:100%; }

    /* #secondary { width:100%; margin:0; border:none; } */
    .Navigation
{
	padding-right: 30px;
}
.mat-form-field {
  font-size: 8px;
  width: 100%;
}
.mat-card-content
{
	font-size: 10px;
}

}
/* .example-card {
  width: 60%;
  margin: 20px;
} */
.example-spacer {
  flex: 1 1 auto;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-container {
  display: inline;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}
.col-1-2{
	width:50%;
}
.col-1-4{
	width:25%;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}
.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

/* .mat-form-field {
  font-size: 14px;
  width: 100%;
} */

.status{
	background-color: #0001d4;
	color: white;
}